html, body{
    height:100%;
}

#root{
    height: 100%;
}

.full-height{
    height: 100%;
}

.main-wrapper{
    height: 90%;
}

.main-container{
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

.panel-audit{
    flex:0.1;
}

.panel-card{
    flex: 4;
}

.panel-userlist{
    flex:0.2;
}

.panel-count{
    flex:2;
}

.button-action{
    flex:0.2;
}

.content blockquote{
    padding: 0.5em 1.5em;
}

.section{
    padding: 1rem 1.5rem;
}

.red-card{
    color: red;
}